/*===============
  global styles
===============*/

:root {
  --border-radius: 0.25;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.dark {
  --clr-bg: #132036;
  --clr-bg-alt: #132036;
  --clr-fg: #c6d8f4;
  --clr-fg-alt: #e8effb;
  --clr-primary: #8db0e9;
  --clr-card-project: #162948;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
  transition: all 0.3s ease-in-out;
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #1b62d4;
  --clr-primary-dark: #0D52BF;
  --clr-card-project: var(--clr-bg);
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  transition: all 0.3s ease-in-out;
}


::-moz-selection,
::-webkit-selection,
::selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}


h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

body p:last-child {
  margin-bottom: 0em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}

/*===================
  buttons and links
===================*/

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
  transition: color 0.25s ease-in-out;
}

.link:hover {
  color: var(--clr-primary);
  transition: color 0.2s ease-in-out;
}

.link--nav {
  color: var(--clr-fg);
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
  font-size: 1.2rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  inline-size: 180px;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 0.2s ease-in-out;
}

.button-primary {
  color: var(--clr-bg-alt);
  background: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  opacity: 1;
  transition: opacity .4s ease-in-out;
  transition: transform 0.2s linear;
}

.button-primary:hover {
  opacity: .9;
  transition: opacity .3s ease-in-out;

  transform: translateY(-2px);
  transition: transform 0.1s linear;
}

.button--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  transition: opacity .4s ease-in-out;
  transition: transform 0.2s linear;
}
.button--outline:hover {
  opacity: .9;
  transition: opacity .3s ease-in-out;

  transform: translateY(-2px);
  transition: transform 0.1s linear;
}

.menu-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 500;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}
.menu-item:hover,
.menu-item:focus {
  color: var(--clr-primary);
}

/*========
  layout
========*/

.center {
  display: flex;
  align-items: center;
}

.header {
  height: 8em;
  justify-content: space-between;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo-container img {
  block-size: 35px;
  vertical-align: middle;
  cursor: pointer;
}

.wrapper {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.section__title {
  text-align: center;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.section__description {
  max-width: 700px;
  margin: 0 auto 20px;
  text-align: center;
}

.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}

.nav__hamburger {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  gap: 50px;
}

.hero__left {
  min-inline-size: 450px;
  flex: 1;
}

.hero__right img {
  max-inline-size: 350px;
  min-inline-size: 250px;
  inline-size: 100%;
  block-size: auto;
}

.hero__name {
  color: var(--clr-primary);
}

.hero__role {
  margin-top: 0.4em;
}

.hero__desc {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.hero__contact {
  display: flex;
  gap: 20px;
}

.hero__desc,
.hero__contact {
  margin-top: 2.4em;
}

.hero .link--icon {
  margin-right: 0.8em;
}

.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.skills__list-item img {
  block-size: 80px;
}

.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.project {
  padding: 2em;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  background-color: var(--clr-card-project);
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.about-me h2 {
  text-align: center;
  margin-block-end: 20px;
}

.about-me__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-inline-start: 100px;
  padding-inline-end: 100px;
}

.about-me__left {
  min-inline-size: 400px;
}

.about-me__right img {
  border-radius: 5px;
  block-size: 400px;
  inline-size: auto;
  justify-self: center;
}

.contact {
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  margin-top: 4em;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .wrapper {
  inline-size: 100%;
  margin: 0;
}

.footer__credits {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__credits p {
  margin-block-end: 0;
}
.footer__credits a {
  padding-block-end: 0;
}

.footer__love {
  display: flex;
  align-items: center;
  color: var(--clr-fg);
}

.heart {
  background-image: url('./img/heart-icon.png');
  background-size: auto 50px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.heart-animation {
  animation: heart-beat .8s steps(28) 1 forwards;
}
@keyframes heart-beat {
  from { background-position: left; }
  to { background-position: right; }
}

.footer__social {
  display: flex;
  gap: 10px;
}

.footer__social a {
  padding: 0;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 2em;
  background-color: transparent;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}



@media (max-width: 768px) {
  .header {
    height: 6em;
  }

  .wrapper {
    width: 90%;
  }

  .main__content {
    gap: 75px;
  }

  .nav__list {
    flex-direction: column;
    padding: 4em 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 5em;
    background-color: var(--clr-bg);
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
  }

  .display-nav-list {
    width: 100%;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .nav__hamburger {
    display: flex;
    margin-left: 0.8em;
  }

  .hero {
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }

  .hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .hero__left {
    min-inline-size: unset;
  }

  .hero__right img {
    display: none;
  }

  .about-me__container {
    flex-direction: column;
    gap: 30px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
  }

  .footer {
    padding: 2em;
    margin-top: 3em;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 20px;
    margin-block-end: 20px;
  }

  .footer__credits {
    margin-inline-end: 20px;
  }

  .footer__love {
    margin-inline-end: 20px;
  }
}

@media (max-width: 480px) {

  p {
    font-size: 1rem;
    margin-bottom: 0.9rem;
  }

  
  .button {
    text-align: center;
  }

  .main__content {
    margin-block-start: -30px;
  }

  .header {
    height: 5em;
  }

  .hero__left {
    inline-size: auto;
  }

  .hero__contact {
    flex-direction: column;
  }

  .about-me__container {
    padding-inline-start: auto;
    padding-inline-end: auto;
    inline-size: 100%;
  }

  .about-me__left {
    min-inline-size: auto;
  }

  .about-me__right img {
    max-block-size: 350px; 
    max-inline-size: 100%;
    block-size: auto;
  }

  .footer__container {
    flex-direction: column;
    justify-content: center;
  }
} 